<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="ISO-8859-1">
<title>Add Beer</title>
<link type="text/css" rel="stylesheet" th:href="@{/css/BeerAppstyle.css}" />
</head>
<body>
<div class="headingcontainer" >
	<h1 class="headingcontainer"> <img class= "valkoinen" th:src="@{/images/barleyvasen2.png}"/>Beer Rating<img class= "valkoinen" th:src="@{/images/barleyoikea2.png}"/></h1>
</div>

<div class="container">

	<div class="innercontainer" >
		<h1>Add new Beer</h1>
	 <form class="cf" th:object="${beer}"th:action="@{/save}" method="post">

		<div class="half left cf">
			<label for="name"> Name</label>
			<input type="text" th:field="*{name}" />
			<div class="errors" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</div>
			<br />
		
			<label for="alcoholPercentage"> Alcohol %</label>
			<input type="text" th:field="*{alcoholPercentage}" />
			<div class="errors" th:if="${#fields.hasErrors('alcoholPercentage')}" th:errors="*{alcoholPercentage}">Error</div>
			<br />
		</div>
		<div class="half right cf">
			<label for="brewery"> Brewery</label>
			<input type="text" th:field="*{brewery}" />
			<div class="errors" th:if="${#fields.hasErrors('brewery')}" th:errors="*{brewery}">Error</div>
			<br />
	
			<label for="beerStyle"> Style</label>
			<input type="text" th:field="*{beerStyle}" />
			<div class="errors" th:if="${#fields.hasErrors('beerStyle')}" th:errors="*{beerStyle}">Error</div>
			<br />
		</div>

			<input type="submit" value="Add" class="linkki"></input>

	</form>
	</div><!-- end of innercontainer -->

</div><!-- end of container -->

<div class="logoutcontainer">
		<a sec:authorize="hasAuthority('USER')" class="linkkiOut" th:href="@{/userbeerlist}">To BeerList</a>
	</div>

	<div class="logoutcontainer">
		<form th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out" class="linkkiOut" />
				</form>
	</div>

</body>
</html>