<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="ISO-8859-1">


<title>Beerlist</title>
<link type="text/css" rel="stylesheet" th:href="@{/css/BeerAppstyle.css}" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
	<div>
		<h2 th:inline="text">Welcome
			[[${#httpServletRequest.remoteUser}]]</h2>
	</div>

	<h1>All the Beers in the database</h1>
	<div th:each="beer : ${beers}">
		<br>
		<table border="1">
			<tr>
				<th width="300" align="left">Name</th>
				<th width="200" align="left">Brewery</th>
			</tr>

			<tr>
				<td th:text="${beer.name}"></td>
				<td th:text="${beer.brewery}"></td>
			</tr>

			<tr>
				<td></td>
				<td><a class="linkki"th:href="@{/showbeer/{id}(id=${beer.beerId})}">Show Details</a></td>
			</tr>
		</table>
		<br>
	</div>

	<div>
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="linkki" />
		</form>
</div>

</body>
</html>