<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="ISO-8859-1">


<title>beerwithratings</title>
<link type="text/css" rel="stylesheet" th:href="@{/css/BeerAppstyle.css}" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("#button1").click(function(){
    
        $("#block1").slideToggle();
    });
});
 
</script>

<script>
$(document).ready(function(){
    $("#button2").click(function(){
    
        $("#block2").slideToggle();
    });
});
 
</script>
</head>
<body>
<div class="headingcontainer" >
<h1 class="headingcontainer"> <img class= "valkoinen" th:src="@{/images/barleyvasen2.png}"/>Beer Rating<img class= "valkoinen" th:src="@{/images/barleyoikea2.png}"/></h1>
</div>
<div class="container" >
	<div class="innercontainer" >
		<h1 th:text="${beer.name}"></h1>
	
		<table  >
			<tr>
				<th align="left">Brewery</th>
				<td  width="380" th:text="${beer.brewery}"></td>
			</tr>
			</table>
			
		<table >
			<tr>
				<th width="80" align="left">Alcohol %</th>
				<td  width="165"  th:text="${beer.alcoholPercentage}"></td>
			
			</tr>
			<tr>
				<th width="80" align="left">Style</th>
				<td width="165"   th:text="${beer.beerStyle}"></td>
			</tr>
			<tr>
				<td><a sec:authorize="hasAuthority('USER')" class="linkki" th:href="@{/edit/{id}(id=${beer.beerId})}">Edit</a></td>
				<td ><a sec:authorize="hasAuthority('USER')" class="linkki" th:href="@{/delete/{id}(id=${beer.beerId})}">Delete</a></td>
			</tr>
			<tr>
			<!-- 		<td style="visibility:hidden" th:text="${beer.user.username}"></td>-->
			<!-- 	<td style="visibility:hidden" th:text="${beer.beerId}"></td> -->
			</tr>
			
		</table>
		<img width="270" class="pullo" th:src="@{/images/pullo4.png}"/>
	</div><!-- end of innercontainer -->
			<div class="innercontainer" >
		<table>
			<tr>
				<th width="150" align="left">Rating count</th>
				<th width="250" align="left">Rating average</th>
			</tr>
			<tr>
				<td th:text="${ratings.size()}"></td>
				<td th:text="${average}"> /5</td>
			</tr>
			<tr>
				<th width="150" align="left"><button sec:authorize="hasAuthority('USER')" id="button1" class="form_button">Add Rating</button></th>
				<th width="150" align="left"><button id="button2" class="form_button">Show / Hide Ratings</button></th>
			</tr>
		</table>
	</div><!-- end of innercontainer -->
</div><!-- end of container -->
	
		<div class="logoutcontainer">
			<a sec:authorize="hasAuthority('USER')" class="linkkiOut" th:href="@{/userbeerlist}">To BeerList</a>
		</div>
		
		<div class="logoutcontainer">
			<a sec:authorize="hasAuthority('ADMIN')" class="linkkiOut" th:href="@{/beerlist}"> BeerList</a>
		</div>

		<div class="logoutcontainer">
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out" class="linkkiOut" />
			</form>
		</div>

	

		
		<!-- block2 visible when show ratings buttons is clicked -->
	<div id="block2">
			
			<!-- if ratings is empty -->
	<div th:if="${ratings.empty}">
		<div class="innercontainer" >
			<h2>There are no ratings for this beer yet!!</h2>
		</div><!-- end of innercontainer -->
	</div><!-- end of th:if-->
	
			<!-- if ratings is Not empty -->
		<div th:if="${!ratings.empty}">
			<div th:each="rating: ${ratings}">
				<div class="innercontainer">
					<table>
						<tr>
							<td th:text="${rating.date}"></td>
						</tr>
						<tr>
							<th align="left">Rating</th>
							<td th:text="${rating.rate}"></td>
						</tr>
						<tr>
							<th width="120" align="left">Location</th>
							<td width="360" th:text="${rating.location}"></td>
							<!--  <th width="200" align="left">username:</th> -->
						</tr>
						<tr>
							<th width="120" align="left">Serving Style</th>
							<td width="360" th:text="${rating.servingStyle}"></td>
						</tr>
						<tr>
							<th width="120" align="left">Flavor Profile</th>
							<td width="360" th:text="${rating.flavorProfile}"></td>
						</tr>
						<tr>
							<td></td>
							<td align="right"><a sec:authorize="hasAuthority('USER')"class="linkki" th:href="@{/deleterating/{ratingid}/{beerid}(ratingid=${rating.id},beerid=${beer.beerId})}">Delete</a></td>
						</tr>
					</table>
				</div><!-- end of innercontainer -->
			</div><!-- end of th:each-->
		</div><!-- end of block2-->
	</div><!-- end of th:if-->
		

	<!-- visible when add rating buttons is clicked -->
	<div id="block1">
	<div class="innercontainer" >
		
			<h1>Add a new Rating</h1>

			<form class="cf" th:object="${rating}" th:action="@{/saveratings/{id}(id=${beer.beerId})}" method="post">

			<div class="half left cf">
				<label for="date"> Date </label> <input type="text"
					th:field="*{date}" placeholder="dd.mm.yyyy"/>
					<div class="errors" th:if="${#fields.hasErrors('date')}" th:errors="*{date}">Error</div>
					<br />
			

				<label for="location"> Location</label> <input type="text"
					th:field="*{location}" />
					<div th:if="${#fields.hasErrors('location')}" th:errors="*{location}"> error</div>
					<br />
				</div>
				
		
				<label for="servingStyle">Serving Style</label> <input type="text"
					th:field="*{servingStyle}" />
					<div class="errors" th:if="${#fields.hasErrors('servingStyle')}" th:errors="*{servingStyle}">Error</div>
					<br />
				

				<label for="flavorProfile"> Flavor Profile</label> <input
					type="text" th:field="*{flavorProfile}" />
					<div class="errors" th:if="${#fields.hasErrors('flavorProfile')}" th:errors="*{flavorProfile}">Error</div>
					<br /><br />

				<!-- LIKE -->
				<label for="rating"> Rating</label>
				<section id="like" class="rating">

					<!-- FIFTH HEART -->
					<input th:field="*{rate}" type="radio" id="heart_5" name="like"
						value="5" /> <label for="heart_5" title="Five">&#10084;</label>
					<!-- FOURTH HEART -->
					<input th:field="*{rate}" type="radio" id="heart_4" name="like"
						value="4" /> <label for="heart_4" title="Four">&#10084;</label>
					<!-- THIRD HEART -->
					<input th:field="*{rate}" type="radio" id="heart_3" name="like"
						value="3" /> <label for="heart_3" title="Three">&#10084;</label>
					<!-- SECOND HEART -->
					<input th:field="*{rate}" type="radio" id="heart_2" name="like"
						value="2" /> <label for="heart_2" title="Two">&#10084;</label>
					<!-- FIRST HEART -->
					<input th:field="*{rate}" type="radio" id="heart_1" name="like"
						value="1" /> <label for="heart_1" title="One">&#10084;</label>
				</section>
				<br/>
			

				<input type="submit" value="Add" class="form_button"></input>
			</form>
			</div><!-- end of innercontainer -->
		</div><!-- end of block -->
	


</body>
</html>