<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="ISO-8859-1">


<title>beerwithratings</title>
<link type="text/css" rel="stylesheet" th:href="@{/css/BeerAppstyle.css}" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>frontpage</title>
</head>
<body>
<div>
		<h1 th:text="${username}"></h1>
		<h2>Welcome to Beer Rating Application</h2>
		
		<h2 th:inline="text">Moikka
			[[${#httpServletRequest.remoteUser}]]</h2>
		</div>
		
		<a class="linkki" th:href="@{/userbeerlist/{username}(username=${username})}">Show My beers</a>
		<br /> <br />
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="linkki" />
		</form>
		

</body>
</html>