<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="ISO-8859-1">


<title>beerwithratings</title>
<link type="text/css" rel="stylesheet" th:href="@{/css/BeerAppstyle.css}" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>frontpage</title>
</head>
<body>

<div class="headingcontainer" >
	<h1 class="headingcontainer">Beer Rating</h1>
</div>
	<div class="container" >
		<!-- <h1>Welcome</h1>
		<h1 th:text="${username}"> </h1> -->
		
		<h1 th:inline="text">Welcome [[${username}]]!</h1>
		
		<div class="cf" >
		
		<a  sec:authorize="hasAuthority('USER')"class="linkki" th:href="@{/userbeerlist/{username}(username=${username})}">Show My beers</a>
		<br /> 
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="linkki" />
		</form>
		<a sec:authorize="hasAuthority('ADMIN')" class="linkki" th:href="@{/userlist}">Show all users</a>
		<a sec:authorize="hasAuthority('ADMIN')" class="linkki" th:href="@{/beerlist}">Show all beers</a>
		</div>
</div>
</body>
</html>