<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="ISO-8859-1">
<title>login to beerrating</title>
<link type="text/css" rel="stylesheet" th:href="@{/css/BeerAppstyle.css}" />

</head>
<body>

<div class="headingcontainer" >
	<h1 class="headingcontainer"> <img class= "valkoinen" th:src="@{/images/barleyvasen2.png}"/>Beer Rating<img class= "valkoinen" th:src="@{/images/barleyoikea2.png}"/></h1>
</div>
     
        <div  th:if="${param.error}">
        	<div class="container" >
            	Invalid username and password
            </div><!-- end of container -->
        </div>
        
        <div  th:if="${param.logout}">
         	<div class="container" >
            	You have been successfully logged out
            </div><!-- end of container -->
        </div>

	<div class="container">
		<div class="innercontainer">
			<h1>Login to your BeerRating Account</h1>

			<form class="cf" th:action="@{/login}" method="post">
				<div class="half left cf">
					<label> User Name : </label> <input type="text" name="username" />
				</div>
				<div class="half right cf">
					<label> Password: </label> <input type="password" name="password" />
				</div>
				<input class="form_button" type="submit" value="login" /> <br />

				<p>Not yet a member?</p>
				<a class="linkki" th:href="@{/signup}">Sign up</a>
			</form>
		</div><!-- end of innercontainer -->
	</div><!-- end of container --> 
	
</body>
</html>