<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="ISO-8859-1">


<title>FrontPage</title>
<link type="text/css" rel="stylesheet" th:href="@{/css/BeerAppstyle.css}" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("#button1").click(function(){
    
        $("#block1").slideToggle();
    });
});
 
</script>
<title>UsersBeerList</title>
</head>
<body>

<div class="headingcontainer" >
	<h1 class="headingcontainer"> <img class= "valkoinen" th:src="@{/images/barleyvasen2.png}"/>Beer Rating<img class= "valkoinen" th:src="@{/images/barleyoikea2.png}"/></h1>
</div>
	<div class="container" >
	<div class="innercontainer" >
	<div sec:authorize="hasAuthority('USER')" th:if="${!beers.empty}">
	 <h1 th:inline="text">Here are all your beers [[${username}]]!</h1>
	 </div>
	 <div  sec:authorize="hasAuthority('USER')" th:if="${beers.empty}" >
			
					<h1>Welcome [[${username}]]!!</h1>
				
		</div><!-- end of th:ifr -->

	<table  >
		<tr>
			<td></td>
			<td ><button id="button1" class="form_button"  >New Beer</button></td>
			
			<td><form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="linkki" />
			</form></td>
		</tr>
	</table>
	
	<div sec:authorize="hasAuthority('ADMIN')">
	<h1 th:inline="text">welcome [[${username}]]!</h1>
	
	<table  >
		<tr>
			<td><a sec:authorize="hasAuthority('ADMIN')" class="linkki" th:href="@{/userlist}">Show all users</a></td>
			<td><a sec:authorize="hasAuthority('ADMIN')" class="linkki" th:href="@{/beerlist}">Show all beers</a></td>
			<td><form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="linkki" />
			</form></td>
		</tr>
	</table>
		</div><!-- end of sec:authorize -->
	</div><!-- end of innercontainer -->
</div><!-- end of container -->

	<div id="block1">
	<div class="innercontainer" >
	
<h1>Add a new Beer</h1>
	 <form class="cf" th:object="${beer}"th:action="@{/save}" method="post">

		<div class="half left cf">
			<label for="name"> Name</label>
			<input type="text" th:field="*{name}" />
			<div class="errors" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</div>
			<br />
		
			<label for="alcoholPercentage"> Alcohol %</label>
			<input type="text" th:field="*{alcoholPercentage}" />
			<div class="errors" th:if="${#fields.hasErrors('alcoholPercentage')}" th:errors="*{alcoholPercentage}">Error</div>
			<br />
		</div>
		<div class="half right cf">
			<label for="brewery"> Brewery</label>
			<input type="text" th:field="*{brewery}" />
			<div class="errors" th:if="${#fields.hasErrors('brewery')}" th:errors="*{brewery}">Error</div>
			<br />
	
			<label for="beerStyle"> Style</label>
			<input type="text" th:field="*{beerStyle}" />
			<div class="errors" th:if="${#fields.hasErrors('beerStyle')}" th:errors="*{beerStyle}">Error</div>
			<br />
		</div>

			<input type="submit" value="Add Beer" class="linkki"></input>

	</form>
	</div><!-- end of innercontainer -->
</div>


		<!-- if beers is empty -->
		<div th:if="${beers.empty}"  sec:authorize="hasAuthority('USER')">
			<div class="container" >
				<div class="innercontainer" >
					<h1>You dont have any beers yet!!</h1>
				</div><!-- end of innercontainer -->
			</div><!-- end of container -->
		</div><!-- end of th:ifr -->
			
	
	
	<!-- if beers is Not empty -->
	<div th:if="${!beers.empty}">
		<div class="container" >
			
			<div th:each="beer : ${beers}">
			<div class="innercontainer" >
		<img class= "musta" width="80" th:src="@{/images/korkki.png}"/>
		<table >
			<tr>
				<th width="100" align="left">Name:</th>
				<td width="260" th:text="${beer.name}"></td>
				
			<!--  <th width="200" align="left">username:</th> -->	
			</tr>

			<tr>
				<th width="100" align="left">Brewery:</th>
				<td width="260"th:text="${beer.brewery}"></td>
			<!-- <td th:text="${beer.user.username}"></td> -->	
			</tr>

			<tr>

				<td></td>
				<!--<td ><a th:href="@{/delete/{id}(id=${beer.beerId})}">Delete</a></td>-->
				<!--	<td ><a th:href="@{/edit/{id}(id=${beer.beerId})}">Edit</a></td>-->
				<td align="right"><a class="linkki"
					th:href="@{/showbeer/{id}(id=${beer.beerId})}">Details</a></td>
			</tr>
		</table>
		</div><!-- end of innercontainer -->
		<br>
		</div>
		</div><!-- end of container -->
	</div><!-- end of th:ifr -->
	

		
</body>
</html>