<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="ISO-8859-1">

<title>FrontPage</title>
<link type="text/css" rel="stylesheet" th:href="@{/css/BeerAppstyle.css}" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script>
		$(document).ready(function() {
			$("#button1").click(function() {

				$("#block1").slideToggle();
			});
		});
</script>
<title>UsersBeerList</title>
</head>
<body>

<div class="headingcontainer" >
	<h1 class="headingcontainer"> <img class= "valkoinen" th:src="@{/images/barleyvasen2.png}"/>Beer Rating<img class= "valkoinen" th:src="@{/images/barleyoikea2.png}"/></h1>
</div>
	
	<!-- For user -->
	<div class="container" >
		<div class="innercontainer" >
			
			<!-- if beers is Not empty -->
			<div sec:authorize="hasAuthority('USER')" th:if="${!beers.empty}">
	 			<h1 th:inline="text">Here are all your beers [[${username}]]!</h1>
	 		</div> <!-- end of th:if -->
	 		
	 		<!-- if beers is empty -->
	 		<div  sec:authorize="hasAuthority('USER')" th:if="${beers.empty}" >
				<h1>Welcome [[${username}]]!!</h1>
			</div><!-- end of th:if -->
	
	<!-- For User -->
	<table sec:authorize="hasAuthority('USER')" >
		<tr>
			<th width="480" align="left">It`s always a good time for a new one!</th>
		</tr>
		<tr>
			<td><a class="linkki" th:href="@{/add}">New Beer</a></td>
		</tr>
	</table>
	
	<!-- For Admin -->
	<div sec:authorize="hasAuthority('ADMIN')">
		<h1 th:inline="text">welcome [[${username}]]!</h1>
	
		<table  >
			<tr>
				<td><a sec:authorize="hasAuthority('ADMIN')" class="linkki" th:href="@{/userlist}">Show all users</a></td>
				<td><a sec:authorize="hasAuthority('ADMIN')" class="linkki" th:href="@{/beerlist}">Show all beers</a></td>
			</tr>
		</table>
		</div><!-- end of sec:authorize admin-->
	</div><!-- end of innercontainer -->
</div><!-- end of container -->

<div class="logoutcontainer1">
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out" class="linkkiOut" />
	</form>
</div>



		<!-- if beers is empty -->
		<div th:if="${beers.empty}"  sec:authorize="hasAuthority('USER')">
			<div class="container" >
				<div class="innercontainer" >
					<h2>You dont have any beers yet!!</h2>
				</div><!-- end of innercontainer -->
			</div><!-- end of container -->
		</div><!-- end of th:ifr -->
			
	
	<!-- if beers is Not empty -->
	<div th:if="${!beers.empty}">
		<div class="container" >
			<div th:each="beer : ${beers}">
				<div class="innercontainer" >
					<img class= "musta"  th:src="@{/images/korkki.png}"/>
					<table class= "beerlisttable">
						<tr>
							<th width="80" align="left">Name</th>
							<td width="300" th:text="${beer.name}"></td>
							<!--  <th width="200" align="left">username:</th> -->
						</tr>
						<tr>
							<th width="80" align="left">Brewery</th>
							<td width="300" th:text="${beer.brewery}"></td>
							<!-- <td th:text="${beer.user.username}"></td> -->
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td align="right"><a class="linkki"th:href="@{/showbeer/{id}(id=${beer.beerId})}">Details</a></td>
						</tr>
					</table>
				</div><!-- end of innercontainer -->
			</div><!-- end of th:each -->
		</div><!-- end of container -->
	</div><!-- end of th:if -->
	

		
</body>
</html>