@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');

html {
	background-color: rgb(221, 207, 146, 0.55);
	font-family: 'Montserrat', Arial, sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	font-family: 'Montserrat', Arial, sans-serif;
	border: solid 2px #474544;
	
	width: 100%;
	margin: auto;
	max-width: 700px;
	min-height: 670px;
	position: relative;
	background-image: url('../images/back7.JPG');
	background-position: center top;
	background-repeat: repeat;
	background-size: 700px;
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0
		rgba(0, 0, 0, .19);
}

.errors {
	color: #3e6316;
	font-size: 0.875em;
}

.infotable {
	display: inline-block;
	max-width: 340px;
	border-radius: 5px;
	border-spacing: 6px;
	position: relative;
	
}

.beerlisttable {
	display: inline-block;
	max-width: 400px;
	border-radius: 5px;
	border-spacing: 6px;
	position: relative;
	
}

table {
	display: inline-block;
	max-width: 480px;
	border-radius: 5px;
	border-spacing: 6px;
	position: relative;
	
}

td {
	font-size: 1.075em; px;
	color: #383635;
	aling: left;
	
}

th {
	font-size: 1.075em; px;
	color: black;;
	aling: left;
	padding-right: 5px;
}

tr {
	text-aling: left;
}

.container {
	max-width: 570px;
	background: rgb(221, 207, 146, 0.85);
	border-radius: 5px;
	margin: 10px auto;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.headingcontainer {
	text-transform: uppercase;
	font-family: 'Cabin Sketch', cursive;
	max-width: 690px;
	margin: 20px auto;
	position: relative;
	text-align: center;
	font-size: 60px;
   color:black;
	color: rgb(221, 207, 146, 0.95);
	text-shadow: 3px 2px black;
}

.innercontainer {
	max-width: 500px;
	background: rgb(250, 255, 229, 0.6);
	border-radius: 5px;
	border: 4px double #474544;
	margin: 5px auto;
	position: relative;
	padding-left: 20px;
	padding-right: 5px;
	padding-top: 15px;
	padding-bottom: 10px;
}

.logoutcontainer {
	display: inline-block;
	max-width: 100px;
	
	text-align: right;
	position: relative;
	left: 480px;
}

.logoutcontainer1 {
	max-width: 100px;
	
	text-align: right;
	position: relative;
	left: 530px;
}

.valkoinen {
	vertical-align: middle;
	width: 18%;
	margin-left: 8px;
	margin-right: 6px;
}

.musta {
	vertical-align: top;
	width: 18%;
	position: realtive;
}

.pullo {
	vertical-align:  top;
	
	display: inline-block;
	width: 20%;
	margin-bottom: 5px;
}

h1 {
	font-family: 'Cabin Sketch', cursive;
	font-size: 39px;
	padding: 0;
	margin: 0 0 20px 0;
	position: relative;
	color: black;
}

h2 {
	font-family: 'Cabin Sketch', cursive;
	text-align: center;
	font-size: 28px;
	padding: 0;
	margin: 0 0 20px 0;
	position: relative;
	color: black;
}

form {
	/*max-width: 500px;*/
	
}

.half {
	float: left;
	width: 48%;
	margin-bottom: 1em;
}

.right {
	width: 50%;
}

.left {
	margin-right: 2%;
}

/* slideToggle DIV */
#block1 {
	max-width: 570px;
	background: rgb(221, 207, 146, 0.85);
	border-radius: 5px;
	margin: 50px auto;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 14px;
	padding-bottom: 16px;
	position: relative;
	display: none;
}

#block2 {
	max-width: 570px;
	background: rgb(221, 207, 146, 0.85);
	border-radius: 5px;
	margin: 50px auto;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 14px;
	padding-bottom: 16px;
	position: relative;
	display: none;
}

input[type='text'], [type="password"] {
	display: block;
	width: 200px;
	padding: 8px 8px 8px 8px;
	border: 1px solid #474544;
	border-radius: 5px;
	color: #3F3F3F;
}

label {
	display: block;
	padding-bottom: 8px;
}

/* -BUTTONS */
.form_button {
	min-width: 30px;
	background: none;
	border: solid 1px #474544;
	border-radius: 3px;
	color: #454744;
	cursor: pointer;
	display: inline-block;
	background: #b2b3b7;
	font-size: 0.675em;
	outline: none;
	padding: 5px 5px;
	text-transform: uppercase;
}

.form_button:hover {
	background: #bfbf46;
	color: #F2F3EB;
}

.linkki {
	min-width: 30px;
	background: none;
	border: solid 1px #474544;
	border-radius: 3px;
	color: #454744;
	cursor: pointer;
	display: inline-block;
	background: #b2b3b7;
	font-size: 0.675em;
	outline: none;
	padding: 5px 5px;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
}

.linkki:hover {
	background: #bfbf46;
	color: #F2F3EB;
}

.linkkiOut {
	min-width: 30px;
	background: none;
	border: solid 1px #474544;
	border-radius: 3px;
	color: #454744;
	cursor: pointer;
	display: inline-block;
	background: #bfbf46;
	font-size: 0.675em;
	outline: none;
	padding: 8px 8px;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
}

.linkkiOut:hover {
	background: #b2b3b7;
	color: #F2F3EB;
}

/* - - - - - RATINGS */
.rating {
  /*position: absolute;*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 150px;
  height: 30px;
  padding: 5px 10px;
  border-radius: 5px;
  border:1px solid #474544;
  background: #FFF;
  overflow: hidden;
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating:not(:checked) > input {
  display: none;
}


/* - - - - - LIKE sydän*/
#like {
  bottom: -65px;
}
#like:not(:checked) > label {
  cursor:pointer;
  float: right;
  width: 30px;
  height: 30px;
  display: block;
  
  color: rgba(233, 54, 40, .4);
  line-height: 33px;
  text-align: center;
}
#like:not(:checked) > label:hover,
#like:not(:checked) > label:hover ~ label {
  color: rgba(233, 54, 40, .6);
}
#like > input:checked + label:hover,
#like > input:checked + label:hover ~ label,
#like > input:checked ~ label:hover,
#like > input:checked ~ label:hover ~ label,
#like > label:hover ~ input:checked ~ label {
  color: rgba(233, 54, 40, .8);
}
#like > input:checked ~ label {
  color: rgb(233, 54, 40);
}@charset "ISO-8859-1";